
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="https://s3.amazonaws.com/django-blog/ico/favicon_v2.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-pie.min.js"></script>

    <link rel="stylesheet" href="../static/css/stylesheet.css">
    
    <title>Dashboard for robot: {{nID}}</title>
</head>
<body>
    <div class="header"></div>
    <div class="topnav">
        <a href="/dashboard?nID={{nID}}">Dashboard</a>
        <a href="/historic?nID={{nID}}">Historic</a>
        <a href="/alarms?nID={{nID}}">Alarms</a>
    </div>
    <div class="row">
            <div class="card">
                <h2>Alarms {{nID}}</h2>

                <table>
                    <thead>
                        <tr>
                            <th>Events</th>
                            <th>Datetime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Event 1</td>
                            <td>Time 1</td>

                        </tr>
                        <tr>
                            <td>Event 2</td>
                            <td>Time 2</td>

                        </tr>
                    </tbody>

                </table>
                
            </div>
        </div>

    </div>
    <script>




    </script>
</body>
</html>
