<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="static/icons/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-pie.min.js"></script>

    <link rel="stylesheet" href="/static/css/stylesheet.css">

    <title>Alarms</title>
</head>

<body>
    <div class="header"></div>
    <div class="topnav">
        <a href="/dashboard">Dashboard</a>
        <a href="/historic">Historic</a>
        <a href="/alarms">Alarms</a>
    </div>
    <div class="row">
        <div class="card">
            <h1>Alarms
                <select class="select" id="select" onChange="ask(this)">
                    {% for r in robots %}
                    <option value={{r}}>{{r}}</option>
                    {% endfor %}
                </select>
            </h1>
            <form method="post">
                <input type="text" name="id" id="id" value={{id}} hidden>

                <label for="start">FROM</label>
                <input type="datetime-local" class="datetime" name="start-date" id="start" required>

                <label for="end">UNTIL</label>
                <input type="datetime-local" class="datetime" name="end-date" id="end" required>

                <input type="submit" value="Search Data"/>
            </form>
        </div>
        <div class="card">
            <table>
                <thead>
                    <tr>
                        <th>Events</th>
                        <th>Datetime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Event 1</td>
                        <td>Time 1</td>

                    </tr>
                    <tr>
                        <td>Event 2</td>
                        <td>Time 2</td>

                    </tr>
                </tbody>

            </table>

        </div>
    </div>

    </div>
    <script src="/static/js/alarms.js"></script>
</body>

</html>