<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="static/icons/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-pie.min.js"></script>

    <script src="https://cdn.socket.io/4.2.0/socket.io.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link rel="stylesheet" href="/static/css/stylesheet.css">
    
    <title>Historic</title>
</head>
<body>
    <div class="header"></div>
    <div class="topnav">
        <a href="/dashboard">Dashboard</a>
        <a href="/historic">Historic</a>
        <a href="/alarms">Alarms</a>
    </div>
    <div class="row">

        <div class="card">
            <h2>Historic
                <select class="select" id="select" onChange="change()">
                    {% for r in robots %}
                    <option value={{r}} {% if r == id %}selected {% endif %}>{{r}}</option>
                    {% endfor %}
                </select>
            </h2>
            <form method="post">
                <input type="text" name="id" id="id" value={{id}} hidden>

                <label for="start">FROM</label>
                <input type="datetime-local" class="datetime" name="start-date" id="start" required>

                <label for="end">UNTIL</label>
                <input type="datetime-local" class="datetime" name="end-date" id="end" required>

                <input type="submit" value="Search Data"/>

            </form>
        </div>
        <div class="leftcolumn">
            <div class="card">
                <data id="efficiency" value="{{efficiency}}"></data>
                <div id="piechart"></div>
            </div>
        </div>
        <div class="rightcolumn">
        </div>

        
    </div>
    <script src="/static/js/historic.js" type="text/javascript">
        //Run a function every 1000 ms
        window.setInterval(function(){
            efficiency();

        }, 1000);

        //Ajax requests

        // function efficiency() {
        //     //Ajax request
        //
        //     $.get('/api/historic/', function (data) {
        //
        //         dataObj = JSON.parse(data);
        //         console.log("Efficiency of robot")
        //         console.log(dataObj);
        //         $("#efficiency").html(data)
        //     });
        // }

        function efficiency() {
            //Ajax request

            $.get('/api/realstate/', function (data) {

                dataObj = JSON.parse(data);
                console.log("Efficiency of robot")
                console.log(dataObj);
                $("#efficiency").html(data)
            });
        }

        // //Web UI update
        //
        // function publish(currentState) {
        //     $("#elementID").html(currentState);
        // }



    </script>
</body>
</html>
