<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="static/icons/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-pie.min.js"></script>

    <link rel="stylesheet" href="../static/css/stylesheet.css">
    
    <title>Historic</title>
</head>
<body>
    <div class="header"></div>
    <div class="topnav">
        <a href="/dashboard">Dashboard</a>
        <a href="/historic">Historic</a>
        <a href="/alarms">Alarms</a>
    </div>
    <div class="row">

        <div class="card">
            <h2>Historic
                <select class="select" id="select" onChange="now()">
                    {% for r in robots %}
                    <option value={{r}}>{{r}}</option>
                    {% endfor %}
                </select>
            </h2>
            <form submit="print()">
                <label for="start">FROM</label>

                <input type="date" class="datetime" id="start-date">
                <input type="time" class="datetime" id="start-time">


                <label for="end">UNTIL</label>

                <input type="date" class="datetime" id="end-date">
                <input type="time" class="datetime" id="end-time">                
                <input type="submit" value="Search Data" />

            </form>
        </div>
        <div class="card">
            <h3 id="efficiency"></h3>

        </div>

        
    </div>
    <script src="../static/js/historic.js" type="text/javascript">
        //Run a function every 1000 ms
        window.setInterval(function(){
            efficiency();

        }, 1000);

        //Ajax requests

        // function efficiency() {
        //     //Ajax request
        //
        //     $.get('/api/historic/', function (data) {
        //
        //         dataObj = JSON.parse(data);
        //         console.log("Efficiency of robot")
        //         console.log(dataObj);
        //         $("#efficiency").html(data)
        //     });
        // }

        function efficiency() {
            //Ajax request

            $.get('/api/realstate/', function (data) {

                dataObj = JSON.parse(data);
                console.log("Efficiency of robot")
                console.log(dataObj);
                $("#efficiency").html(data)
            });
        }

        // //Web UI update
        //
        // function publish(currentState) {
        //     $("#elementID").html(currentState);
        // }
        now()



    </script>
</body>
</html>
